name: Daily Execute and HTML Update

on:
  schedule:
    - cron: '31 14 * * *' # 11:31 PM KST (14:31 UTC)
    - cron: '1 0 * * *'  # 9:01 AM KST (00:01 UTC)
    - cron: '0 3 * * *'  # 12:00 PM KST (03:00 UTC)

  workflow_dispatch:  # Allows manual execution

jobs:
  run-script-and-publish:
    runs-on: macos-latest
    
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install macOS dependencies
        run: |
          #brew install ta-lib
          #brew install libjpeg libtiff freetype
          #brew install little-cms2 openjpeg webp

      - name: Install Dependencies
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt  # Modify if needed

      - name: Run Python Script
        run: |
          python bitcoin_price_regressor.py --output=docs/bitcoin.html 
          python gold_price_regressor.py --output=docs/gold.html 
          python gold_gaps_korea.py --output=docs/gold_gap.html 
          python strategy_vix.py 15.0 25.0 1 --output=docs/vix.html
          python bitcoin.py --output=docs/bitcoin_long_term.html
        env:
          FRED_API_KEY: ${{ secrets.FRED_API_KEY }}

      - name: Deploy to GitHub Pages
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          # Set the correct remote URL with PAT authentication
          #git remote set-url origin https://x-access-token:${{ secrets.GH_PAT }}@github.com/ericseong/macro-economics-research.git
          git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/ericseong/macro-economics-research.git
          # Verify the correct remote URL is set
          git remote -v

          # Fetch all branches
          git fetch --prune --unshallow

          # Check if gh-pages exists remotely
          if git show-ref --verify --quiet refs/remotes/origin/gh-pages; then
            git checkout gh-pages
          else
            echo "gh-pages does not exist remotely. Creating it..."
            git checkout --orphan gh-pages
          fi

          git rm -rf .
          mv docs/* . && rm -rf docs
          git add *.html
          git commit -m "Update GitHub Pages with latest HTML reports"
          echo "Pushing to GitHub Pages..."
          GIT_TRACE=1 GIT_CURL_VERBOSE=1 git push --force origin gh-pages

        env:
          #GH_PAT: ${{ secrets.GH_PAT }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}


